<div class="fb-tab-content">
  <div id="beautygrows-header">
    <%= image_tag('BeautyGrowsHeader_v2.jpg') %>
  </div>
  <div id="beautygrows-gallery">
    <% animations = ["fadeInUp", "fadeInLeft", "fadeInRight"] %>
    <% @photos.each_with_index do |photo, i| %>
      <%= image_tag photo.standard_url, class: "instaphoto animated #{animations[i % 3]} size#{i % 3} p#{i+1}" %>
    <% end %>
  </div>
</div>

<div id="fb-root"></div>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
  appId : '536778663069268',
  status : true, // check login status
  cookie : true, // enable cookies to allow the server to access the session
  xfbml : true // parse XFBML
});
</script>
<script type="text/javascript">
window.fbAsyncInit = function() {
  FB.Canvas.setAutoGrow();
}
</script>
