<div class="fb-tab-content">
  <div id="beautygrows-header">
    <%= image_tag('BeautyGrowsHeader_v2.jpg') %>
  </div>
  <div id="beautygrows-gallery">
    <% @photos.each_with_index do |photo, i| %>
      <%= image_tag photo.standard_url, class: "instaphoto size#{i % 3} p#{i+1}" %>
    <% end %>
  </div>
</div>

