<% @instagram.each do |instagram| %>
  <div style="float:left;">
    <% instagram_url = instagram.images.standard_resolution.url %>
    <% instagram_thumbnail_url = instagram.images.thumbnail.url %>
    <%= image_tag instagram_thumbnail_url %>
    <br />
    <%= instagram.id %>
    <br />
    <%= instagram_url %>
  </div>
<% end %>
