// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
}

.fb-tab-content {
  width: 800px;
  overflow: hidden;
}

#beautygrows-header {
  height: 340px;

  img {
    width: 800px;
  }
}

#beautygrows-gallery {
  position: relative;
  height: 2000px;
}

#photo-detail {
  width: 800px;
  height: 400px;
  position: absolute;
  display: none;
  padding: 50px;
  z-index: 10;
  background: white;
}

#photo-detail .instaphoto-zoom img {
  width: 300px;
  height: 300px;
  float: left;

  .close {
    font-size: 48px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.user-profile-pic {
  float: left;
  margin-top: 40px;
  margin-left: 40px;

  img {
    width: 50px;
    height: 50px;
  }
}

.photo-info {
  float: left;
  width: 300px;
  margin-top: 20px;
  margin-left: 10px;

  .photo-user-full-name {
    font-size: 24px;
    color: #a3ba89;
  }

  .photo-user-username {
    font-size: 14px;
    font-weight: bold;
    color: #a3ba89;
  }

  .photo-caption {
    margin: 20px 0 20px 0;
    font-size: 14px;
    color: #aaa;
  }
}

.instaphoto {
  position: absolute;
  cursor: pointer;
}

.p2, .p3, .p4, .p5, .p6, .p7, .p8, .p10, .p11, .p12, .p13, 
.p14, .p16, .p17, .p18, .p19, .p20, .p21, .p22, .p23, .p24,
.p25, .p26, .p27, .p28, .p29, .p30, .p31, .p32, .p33, .p34, .p35, .p36,
.p37, .p39, .p40, .p41, .p42, .p43 {
  width: 160px;
  height: 160px;
}

.p1, .p15, .p38 {
  width: 320px;
  height: 320px;
}

.p9 {
  width: 480px;
  height: 480px;
}

.p1 { top: 0px; left: 0px; }
.p2 { top: 0px; left: 320px; }
.p3 { top: 0px; left: 480px; }
.p4 { top: 0px; left: 640px; }
.p5 { top: 320px; left: 0px; }
.p6 { top: 320px; left: 160px; }
.p7 { top: 480px; left: 0px; }
.p8 { top: 480px; left: 160px; }
.p9 { top: 160px; left: 320px; }
.p10 { top: 640px; left: 0px; }
.p11 { top: 640px; left: 160px; }
.p12 { top: 640px; left: 320px; }
.p13 { top: 640px; left: 480px; }
.p14 { top: 640px; left: 640px; }
.p15 { top: 800px; left: 0px; }
.p16 { top: 800px; left: 320px; }
.p17 { top: 800px; left: 480px; }
.p18 { top: 800px; left: 640px; }
.p19 { top: 960px; left: 320px; }
.p20 { top: 960px; left: 480px; }
.p21 { top: 960px; left: 640px; }
.p22 { top: 1120px; left: 0px; }
.p23 { top: 1120px; left: 160px; }
.p24 { top: 1120px; left: 320px; }
.p25 { top: 1120px; left: 480px; }
.p26 { top: 1120px; left: 640px; }
.p27 { top: 1280px; left: 0px; }
.p28 { top: 1280px; left: 160px; }
.p29 { top: 1280px; left: 320px; }
.p30 { top: 1280px; left: 480px; }
.p31 { top: 1280px; left: 640px; }
.p32 { top: 1440px; left: 0px; }
.p33 { top: 1440px; left: 160px; }
.p34 { top: 1440px; left: 320px; }
.p35 { top: 1600px; left: 0px; }
.p36 { top: 1600px; left: 160px; }
.p37 { top: 1600px; left: 320px; }
.p38 { top: 1440px; left: 480px; }
.p39 { top: 1760px; left: 0px; }
.p40 { top: 1760px; left: 160px; }
.p41 { top: 1760px; left: 320px; }
.p42 { top: 1760px; left: 480px; }
.p43 { top: 1760px; left: 640px; }
